[2015-01-07 21:51] DavidTPate opened #4 "Update Version of Chai"
With the inclusion of `dirty-chai` to enable passing the linters (changed from calls like: `expect(true).to.be.true` to `expect(true).to.be.true()`) we had to [revert to an earlier version](https://github.com/RiptideCloud/s3fs/blob/c0fadd78aa57fcc4d8963b004a2f9fc9f2cdb218/package.json#L48) of `Chai` due to a peer-dependency issue.

A [PR](https://github.com/prodatakey/dirty-chai/pull/1) has been c

[2015-01-14 23:42] DavidTPate opened #5 "Update Error Handling to Include Additional Info"
Currently, the AWS SDK for S3 only provides simple error messages which are very generic. Instead, we should enhance these messages to provide additional context, such as the file attempting to be accessed.

[2015-01-29 07:08] Jhorlin opened #8 "options should be optional."
s3fs uses aws and the construction signature is (options, bucket) it should be (bucket, options)  where options are optional credentials when not in the env or different from the env. By default aws pulls its credentials from the environment.

[2015-01-30 04:56] DavidTPate opened #9 "Creating with a relative path and then calling `destroy()` fails to delete the bucket"
Setting up an instance with something like the following:

[code]

Results in an error in attempting to delete the bucket because it is not empty. The reason why it is not empty is because the `listAllObjects` function used by `rmdirp` function receives the following results: `[ path/'path/', 'path/path/test.json']` which is incorrect.

[2015-03-10 14:38] DavidTPate commented on #9
This will be addressed with #10

[2015-03-10 14:38] #9 closed

[2015-03-10 14:38] DavidTPate commented on #4
This will be handled by #10

[2015-03-10 14:38] #4 closed

[2015-04-07 01:03] vbudhram opened #11 "Mkdir -p functionality"
Hey guys what do you think about adding the functionality for mkdir -p (recursive directory creation) to S3FS? Currently, the NodeJS FS implementation does not have this ability.

I could add it for S3 and FS file systems.

[2015-04-07 03:16] DavidTPate commented on #11
So we actually have this already implemented through our [FS Mixins](https://github.com/RiptideCloud/node-fs-wishlist) which can be used for S3FS/FS/FSP/etc. to achieve making the directories recursively. As for S3FS this shouldn't really matter since S3 doesn't consider a folder to be an object. So if you create something in a directory that doesn't exist it will just make it there no problem.

I

[2015-04-07 14:33] vbudhram commented on #11
Cool, that is exactly what I needed

[2015-04-07 14:33] #11 closed

[2015-04-08 13:53] DavidTPate commented on #8
This is going to be a breaking change, and I'll include it in 2.0.

[2015-04-08 20:45] DavidTPate opened #15 "Switch from Q to Bluebird"
In order to reduce the boilerplate around our promises and make use of the handy utilities Bluebird provides for promises the library should change Promise providers.

[2015-04-09 15:22] vbudhram opened #17 "Options not consistent for FS and S3FS in writeFile"
I was trying to specify the encoding type of the file to be written however I found that I could not use FS and S3FS interchangeably .

The options for encoding in S3 putObject is 'ContentEncoding'. For FS it is 'encoding'.

Do you think there should be some options normalizing for these implementations?

[2015-04-09 18:48] DavidTPate commented on #17
Yeah, I noticed some inconsistencies with the API in relation to this and was going to address thing. S3FS should be taking in the interface of FS and mapping it as needed.

I'll get this covered with 2.0.0.

[2015-04-09 19:17] DavidTPate commented on #15
This was closed by #16 and will be released with 2.0.0.

[2015-04-09 19:17] #15 closed

[2015-04-09 19:48] #17 closed

[2015-04-09 20:17] DavidTPate opened #21 "2.0.0 Release Notes"
# Summary
S3FS 2.0.0 changes how the module is instantiated, update the names of some of the methods that previously existed, enhances some current functionality with support for encoding, and switches from using the Q promise library to Bluebird.

* Upgrade time: low, the changes are minimal and straightforward
* Complexity: low, the changes are pretty straightforward
* Risk: low, the changes to

[2015-04-09 20:33] #8 closed

[2015-04-13 13:20] vbudhram commented on #21
:+1:

[2015-06-16 17:52] DavidTPate opened #24 "Map S3 Errors to FS return codes"
For example, attempting to retrieve a file that doesn't exist the S3 API sends back the code "NoSuchKey", while FS sends "ENOENT". These two should ideally match, unless it is a feature that FS doesn't have like creating a bucket.

[2015-06-20 11:35] headbash opened #25 "allowing Write Streams to accept strings"
Hi David,

Love the module.

Sorry in advance for the "pull request in an issue", but I couldn't seem to make a new branch. (newb @ Git)

I noticed that the Write Streams invoked from the 'createWriteStream' method wouldn't accept strings,  only buffers, and this slightly concerned me as I use it to write strings to a file a lot.

I looked at how the original 'fs' module does it, and here's what I

[2015-06-20 16:57] DavidTPate commented on #25
Hi there @headbash Thanks for the feedback! Yeah, the whole Fork/Pull Request piece can be a little weird. You won't be able to create a branch off of our repository, you'll need to do it via Forking the repository and then submitting a Pull Request from your Fork. Github has some documentation on it [here](https://help.github.com/articles/using-pull-requests/).

If you want to use that guide and

[2015-06-24 12:27] hfar opened #27 "temp file path get created inside s3 bucket when writing file stream"
Hi,

i am using the approach mentioned in below link :
http://stackoverflow.com/questions/28018855/upload-a-file-to-amazon-s3-with-nodejs

but i have an issue when the file stream is uploaded to s3, the whole path of the temp file is getting created in `s3` bucket,for example :

bucket  : `'My-Static-Assets/files/uploaded'`
the temp file path in Ubuntu server is : `'home/ubuntu/www/html/sampleProj

[2015-06-24 14:13] hfar commented on #27
i found the solution myself ,the file name i was sending to write file was wrong , i only replaced \ with / when getting the file name from temp path.

var filePath= 'home\ubuntu\www\html\sampleProject\public\files\myfile.jpg'.replace(/\\/g, '/');

var fileName = filePath.substr(filePath.lastIndexOf('/')+1,filePath.length-1)

[2015-06-24 21:01] DavidTPate commented on #27
Gotcha. Sounds like everything is working as expected, that's the result that I expect. Just so you don't have to use `lastIndexOf` and deal with different systems I would utilize [Path.parse()](https://nodejs.org/api/path.html#path_path_parse_pathstring) in Node.js.

[2015-06-25 18:06] hfar commented on #27
Thanks David .. got it I am new in nodejs yes like you said I should use Path.parse :)

[2015-06-25 18:06] #27 closed

[2015-06-25 19:03] DavidTPate commented on #27
No problem! We all are learning at some point. :+1:

[2015-07-27 06:39] LinusU opened #29 "Streams from createWriteStream is missing `bytesWritten`"
Streams returned from `createWriteStream` is missing the `bytesWritten` property. This can be used to know how large the file from the stream ended up being and is plenty useful.

Example usage

[code]

[2015-07-27 17:00] DavidTPate commented on #25
@headbash Any updates on this?

[2015-07-27 17:07] #29 closed

[2015-07-28 04:45] headbash commented on #25
I could've sworn I submitted the fixed code for this, but perhaps I didn't. I'll check it out as soon as I get home.

[2015-08-18 07:13] ishandutta2007 opened #33 "Unhandled rejection NoSuchBucket: The specified bucket does not exist"
var AWS_ACCESS_KEY = 'entered my valide key here';
var AWS_SECRET_KEY = 'entered my valid secret here';
var fs = require('fs')
var S3FS = require('s3fs');
var s3fsImpl = new S3FS('entered my valid bucket ame here', { accessKeyId:AWS_ACCESS_KEY, secretAccessKey:AWS_SECRET_KEY });

[2015-08-18 13:53] DavidTPate commented on #33
@ishandutta2007 Could you provide some more information on what you are trying to do? I'm wondering where the `Unhandled Rejection` is occurring.

There's a few things that could be going on here, so I have a few questions.
1. What region is your bucket in?
2. Is your bucket name 100% correct? They are case sensitive, and also things like percent encoding are not interpreted. So `my Bucket` is dif

[2015-08-18 14:00] Jhorlin commented on #33
@ishandutta2007 are you saying is that his bucket name is incorrect and that s3fs is not handling the fact that the bucket does not exist?

[2015-08-21 12:54] TylerDixon opened #36 "Checking directory existence doesn't work when going up a directory"
Issue in reference to test
[code]
created in #35

[2015-08-22 13:21] ishandutta2007 commented on #33
My bad, now it's saving; bucket name was wrong.

[2015-08-22 13:21] #33 closed

[2015-08-23 18:34] ishandutta2007 opened #37 "Encoding issue for readFile , writeFile works fine."
var AWS_ACCESS_KEY = 'xxxxxx';
var AWS_SECRET_KEY = 'yyyyyy';
var fs = require('fs');
var S3FS = require('s3fs');
var s3fsImpl = new S3FS("mybucket", {accessKeyId:AWS_ACCESS_KEY,secretAccessKey:AWS_SECRET_KEY});

module.exports.saveCode = function (req, res) {
  s3fsImpl.writeFile('sample_code.py', req.body.codeContent,  {encoding : 'utf8'}, function (err) {
    if (err) throw err;
  });
}

module

[2015-08-24 00:14] DavidTPate commented on #37
@ishandutta2007 I'm not able to reproduce your issue. I added a test case for it [here](https://github.com/RiptideElements/s3fs/blob/c311c66ff87ecacbb8b11bcd151ef23675acac48/test/file.js#L128) and it is working as expected. Can you provide the error message you are receiving?

[2015-08-24 00:14] Jhorlin commented on #37
:+1: Nice catch.

[2015-08-24 13:16] #21 closed

[2015-08-27 14:32] ishandutta2007 commented on #37
I am not getting any error; the problem I am facing is similar to this http://stackoverflow.com/questions/15772925/encoding-is-ignored-in-fs-readfile
only difference is for me it's for s3fs and not fs.
I tried the solutions proposed there as I mentioned without any success.

[2015-08-27 14:59] DavidTPate commented on #37
@ishandutta2007 I think I understand now. We aren't operating the same as the [FS Interface](https://nodejs.org/api/fs.html#fs_fs_readfile_filename_options_callback).

Specifically, this part:

I'll get some tests added around that and a PR also once completed.

[2015-08-27 15:02] ishandutta2007 commented on #37
But I am using utf8 encoding while writing too.

s3fsImpl.writeFile(fileName, req.body.codeContent,   'utf8', function (err) {
  ...................//
});
s3fsImpl.readFile('sample_code.py',   'utf8', function (err, data) {
    if (err) throw err;
    console.log(bin2String(data));// hack to get it working
});

[2015-08-27 15:11] DavidTPate commented on #37
@ishandutta2007 Gotcha, you're using the old call version too. I see that support in the latest NodeJS & iojs releases as well so I'll add that also.

Thanks!

[2015-08-31 20:47] #37 closed

[2015-08-31 20:49] DavidTPate commented on #37
@ishandutta2007 We just released the latest version `v2.3.0` which has a fix for the issues that you pointed out in this issue. Thanks for your feedback, let us know if you run into something else!

[2015-09-28 10:34] SamVerschueren opened #41 "readFile promise is not returning the Body"
When using the promise syntax with `readFile`, the result returned by the promise is the raw S3 object. When using the callback syntax, the data is returned. Shouldn't the promise return the data as well?

[code]

[code]

Line https://github.com/RiptideElements/s3fs/blob/master/lib/s3fs.js#L195 should be replaced by:

[code]

Would be happy to do a PR for this...

[2015-11-16 12:13] AScripnic opened #44 "s3fs.readirp works different"
Hi, last week while using `s3fs.readirp()` i was getting a list of files and directories but now, i am getting only a list of files, and directories are missing from array.

[code]

i was getting:
[code]
and in this list only 123.txt is a file, but now i'm getting
[code]

[2015-11-16 14:30] DavidTPate commented on #44
I'll take a look as we have some tests around that, the AWS API could have changed its response. There's also some weirdness that goes on with S3 in that it really doesn't care about directories and will clean up empty directories as well.

What are you depending on empty directories being there for? I ask because S3 doesn't guarantee to return empty directories since they have no keys in them.

[2015-11-16 14:37] AScripnic commented on #44
I need to copy from s3 bucket to local machine.  So when i try to save a file i need to create it's folder first, so i'm using `lstat()` function as well to know what type the path is and depending on this a create folder on local or create a read stream for files.
Thank you for quick reply.

[2015-11-23 11:10] ddcovery opened #45 "How to specify content type to a file created on S3"
I'm creating a SVG file in S3, but I need to specify its content-type (image/svg+xml) because it is required for correct loading using posterior  HTML OBJECT TAG

AWS specifies the following in their API docs for the Content-Type header:

A standard MIME type describing the format of the contents. For more information, go to http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.17.
    Type

[2015-11-23 11:23] ddcovery commented on #45
Sorry, found

```s3fs.writeFile(s3Key, stream, {"ContentType":"image/svg+xml", ...});```

[2015-11-23 11:23] #45 closed

[2015-11-23 15:47] AScripnic opened #46 "Wrong mime type on using createWriteStream method"
Hi, I'm using s3fs to upload a list of files to my s3 repository. I noticed that the files' mime type is wrong (`application/octet-stream`). I'm wondering if there's any possibility to automatically detect mime type or at least manually add it as an option.

[2015-11-23 16:42] DavidTPate commented on #46
@AScripnic We could go through and do some magic, but the problem is that it isn't compatible with FS as it doesn't do anything like that.

Check out #45 basically you can do something like this: `s3fs.writeFile(s3Key, stream, {"ContentType":"image/svg+xml", ...});`

[2015-11-25 08:55] AScripnic commented on #46
@DavidTPate we arte currently using `s3fs.writeFile` as a workaround, but it's memory consuming for larger files and it's an issue for us due to AWS Lambda price policy.

From my point of view this option is very useful for such kind of cases. We could provide the mime type explicitly when creating the write stream.

Does it make sense for you?

[2015-11-25 14:29] DavidTPate commented on #46
@AScripnic I understand now, I completely glossed over the Stream part of this before. It should still be able to pass the `Content-Type` to the `s3fs.createWriteStream` call, but I don't see a test around it. I'll add a test as an example and to make sure it works.

[2015-11-25 17:44] #46 closed

[2015-11-25 17:56] DavidTPate commented on #46
@AScripnic This has just been updated and released. So now you would do something such as the following: `s3fs.createWriteStream(fileName, { ContentType: 'application/json' });` to add the content type.

AWS has all the supported options here: http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html

[2015-12-07 17:02] dmfenton opened #49 "Use S3's upload implementation"
Great library, thanks for making it open source! I'm considering replacing some code I have with a similar purpose with your lib, but I'm hesitant to give up the built in managed uploader from the AWS SDK.

What are your thoughts on swapping it in?

http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#upload-property

The benefits I see are:
- Built in multi-part management -> you can de

[2015-12-07 20:58] DavidTPate commented on #49
Hey there! Thanks for the feedback. I noticed that the other day when going through the S3 documentation some more and was considering replacing the code here shortly.

With it we would be able to continue to support our current features and some additional pieces. Our implementation currently support multi-part or single upload negotiation, and streams with it but that's about it. Here's the [ann

[2015-12-16 19:52] aledotgomez opened #50 "Public access to files"
How can I change the permission type of my uploaded files to be public? Is this related to my s3fs object parameters or do I need to add an IAM policy?

My code is the following:
[code]

Thank you. This package rocks btw.

[2015-12-16 21:32] DavidTPate commented on #50
Glad you like it!

You can accomplish this with settings being passed to the AWS SDK. You can find all of the available parameters [here](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#putObject-property).

In your case you are trying to attach an ACL for Public Read. So, if you were to modify your code like below it would update the file with the Public Read ACL set on it.

[code]

[2015-12-16 21:32] #50 closed

[2015-12-17 00:25] aledotgomez commented on #50
Works like a charm, thanks!

[2015-12-24 03:47] sabrehagen opened #52 "Unclear Docs"
When creating an fs implementation via `var fsImpl = new S3FS('test-bucket', options);` the options argument is never explained. I can see further down in the code a "See AWS SDK" link, but it's unclear if this is for the same options object.

Can you please detail the options object format in your documentation?

Thanks!

[2015-12-29 06:08] #52 closed

[2015-12-29 06:09] DavidTPate commented on #52
I went through and added a link to the docs for the AWS SDK with the constructor. I'm not going to repeat the documentation that AWS maintains here, but I'll gladly link to it to make it helpful.

[2015-12-29 06:38] sabrehagen commented on #52
thank you, much clearer!

[2016-01-10 09:25] eldyvoon opened #55 "base64 image corrupted after upload to s3"
[code]
What's wrong in my code above? There's no error in my terminal, I have the file in my s3 but it's corrupted when I download it.

[2016-01-11 01:29] DavidTPate commented on #55
I'm not sure exactly where the issue lies, so I have a few things for you to try. To give some background I already use this module to save, retrieve, etc. file uploads and other items to and from S3 without issue.

What's the actual value of `req.body.data`? I'm guessing it is something like

[code]

But with different values. If this is the case, you already have the encoding in the file, so you

[2016-01-15 10:43] diegobent opened #56 "headObject Bug"
https://github.com/RiptideElements/s3fs/blob/master/lib/s3fs.js#L485-L486

If I use callback instead of promise, if success callback is invoked without data!

[2016-01-15 15:04] DavidTPate commented on #56
All the more reason to not use callbacks :grin:!

Thanks for pointing that out, I'll drop a PR for it. Looks like none of the tests for `headObject` are validating return values so I'll add that so we can catch and regressions.

[2016-01-15 15:47] #56 closed

[2016-01-15 15:48] DavidTPate commented on #56
@diegobent I just published `s3fs@2.4.3` to NPM which has this fix in it. Cheers!

[2016-01-18 09:25] diegobent commented on #56
Thanks @DavidTPate for the support! :+1:
Congratulation, for your work! very useful and well done library!  good implemetation and very hight code covarage!

[2016-01-27 20:27] DavidTPate commented on #55
Closing this as I expect it's a code problem as pointed out in my previous answer. If you are still having an issue feel free to respond @eldyvoon

[2016-01-27 20:27] #55 closed

[2016-03-20 14:06] AOnurOzcan opened #60 "How to remove a file from S3"
Hi. I am using s3fs for uploading images. I also want to remove files that I uploaded before. How can I do this? Thank you.

[2016-03-21 02:58] DavidTPate commented on #60
I'm not sure how your file structure is setup, but you can use [fs.unlink(...)](https://nodejs.org/api/fs.html#fs_fs_unlink_path_callback) which is supported by this library to remove a single file. If instead you need to do some filtering or something there's [fs.readdirp(...)](https://github.com/RiptideElements/s3fs#s3fsreaddirppath-callback) and [fs.rmdirp(...)](https://github.com/RiptideElemen

[2016-03-21 02:58] #60 closed

[2016-04-04 19:07] PsyTae opened #73 "S3 metadata on upload"
Is there a way when you are coping a file up to the AWS S3 from your computer file system to add custom s3 metadata using s3fs?  [AWS CP](http://docs.aws.amazon.com/cli/latest/reference/s3/cp.html)

aws cli
`aws s3 cp c:\Code\xxxx.js s3://uploadbucket --metadata source=xxxxxx`

s3fs
[code]

[2016-04-04 19:20] DavidTPate commented on #73
Correct, you can pass whatever options the [S3 API supports](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#putObject-property). Here's a [test](https://github.com/RiptideElements/s3fs/blob/0a9aee419e29b4b1b01b3484c7eda43f358ba40d/test/file.js#L115-L123) where we pass `ContentType` which is recorded by S3 as metadata and used for serving.

[2016-04-04 19:21] #73 closed

[2016-04-04 19:42] PsyTae commented on #73
return s3fsImpl.writeFile(filename, stream, {x-amz-meta-source: 'xxxxxx'}).then(function () {
                                              ^

SyntaxError: Unexpected token -
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:374:25)
    at Object.Module._extensions..js (module.js:405:10)
    at Module.load (module.js:344:32)
    at Function.Module._load (module.js:301

[2016-04-04 19:44] PsyTae commented on #73
return s3fsImpl.writeFile(filename, stream, {'x-amz-meta-source': 'xxxxxx'}).then(function () {

Unhandled rejection UnexpectedParameter: Unexpected key 'x-amz-meta-source' found in params
    at ParamValidator.fail (C:\nodeCode\node_modules\s3fs\node_modules\aws-sdk\lib\param_validator.js:50:37)
    at ParamValidator.validateStructure (C:\nodeCode\node_modules\s3fs\node_modules\aws-sdk\lib\param_

[2016-04-04 19:46] PsyTae commented on #73
[code]

[2016-04-04 19:47] PsyTae commented on #73
[code]

[2016-04-04 19:53] PsyTae commented on #73
[User-Defined Metadata](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-metadata)

When uploading an object, you can also assign metadata to the object. You provide this optional information as a name-value pair when you send a PUT or POST request to create the object. When uploading objects using the REST API the optional user-defined metadata names must begin with "x-am

[2016-04-04 19:58] DavidTPate commented on #73
[code]

The above has invalid javascript. Your options object would need to have quotes around the key due to the `-` characters. Ie. `{'x-amz-meta-source': 'xxxxxx'}`.

As for the others it's because you are attempting to use the docs from the S3 API to use with the S3 SDK. If you take a look [here](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#putObject-property) you'll notice

[2016-04-04 20:01] PsyTae commented on #73
Thanks that worked!!

[2016-08-02 13:30] demetriusnunes opened #150 "readFile behaviour not aligned with fs module"
I detected 2 issues when using readFile that is different from the "fs" module counterpart:
* encoding cannot be passed in as a string in the second parameter
* `data.Body.toString(encoding)` is only called when using the non-promise version of the method  causes inconsistencies in its usage: https://github.com/RiptideElements/s3fs/blob/master/lib/s3fs.js#L199

[2016-08-02 15:42] DavidTPate commented on #150
We actually support passing in Encoding to both [readFile](https://github.com/RiptideElements/s3fs/blob/9504b51462e0bb194da80d8d98f3ee1545e73030/test/file.js#L636-L642) and [writeFile](https://github.com/RiptideElements/s3fs/blob/9504b51462e0bb194da80d8d98f3ee1545e73030/test/file.js#L124-L126) as the parameter in lieu of an options object.

I do see the inconsistency that you are talking about for

[2016-08-02 16:40] demetriusnunes commented on #150
Yes, I saw that passing the encoding as an options object would do. It's really no big deal. Just pointed out the inconsistency with "fs" because I'm using your library and "fs" interchangeably, and these things popped out when using "readFile".

[2016-08-02 18:35] DavidTPate commented on #150
I definitely understand @demetriusnunes. I'm not trying to push back on it and say the way it works currently is 100% correct. I just need to do some investigation on the impacts of this and it will definitely be a Major version bump since it will fundamentally change how the `readFile` function works.

I'm thinking that a new option will be introduced which will make the current functionality wor

[2016-08-06 20:12] krrishd opened #154 "ACL, Metadata, etc not registering in uploaded object."
[code]

^ with that implementation, somehow the object successfully uploads to S3, but **neither the specified ACL nor the Content-Type are registered in said uploaded object**. I'm pretty sure this isn't a policy error either, as the policy I've attached to the relevant user is as follows:

[code]

Just wanted to know whether I was perhaps doing something wrong, since I couldn't find anything spe

[2016-08-08 15:17] DavidTPate commented on #154
Hi there!

I'm a little confused as to what you are attempting to do here, as the code you have provided is only the code for setting up the initial connection to S3. It doesn't do any uploading or anything like that. Could you provide more complete code example of what you are doing?

For a generic example if I wanted to write a file to S3 with the ACL of `public-read` and a content type of `imag

[2016-08-08 17:36] krrishd commented on #154
Hey there,

I didn't pay enough attention to the docs where it said that [options] were a third parameter in writeFile, so I assumed I could pass default values (which I now see isn't the case). Your example works perfect, sorry for the confusion

[2016-08-08 17:36] #154 closed

[2016-08-09 14:14] DavidTPate commented on #154
Not a problem, let me know if you run into more issues!

[2016-08-09 14:21] ccuilla opened #156 "Right-hand side of 'instanceof' is not an object"
Note: Using Meteor 1.3.x

s3fs version: 2.4.8

Code:

`import S3FS from 's3fs';`

`let s3Options = {`
`  region: 'us-west-2'`
`};`

`let fsImpl = new S3FS('securx-testing', s3Options);`

Error:

**Right-hand side of 'instanceof' is not an object**

This occurs at line 43 on lib/s3fs.js:

`this.s3 = options instanceof AWS.S3 ? options : new AWS.S3(options);`

I'm not seeing AWS.S3 defined or declar

[2016-08-10 13:27] DavidTPate commented on #156
I haven't been able to reproduce this in a standard Node environment. Could you try the following as suggested [here](https://guide.meteor.com/using-npm-packages.html#using-npm) instead?

[code]

And see if you get the same result.

Also, what Node version are you running?

[2016-08-10 21:32] ccuilla commented on #156
David -

Thanks for your prompt reply.

First, the node version is 0.10.42 (yes, I know).

Second, I tried your suggestion above with the same resulting error.

I will be updating to node 4.4.7 in the near future. So if this is a node version issue, I understand and I can wait.

[2016-08-19 19:05] KidkArolis opened #162 "Passing in aws-sdk options to copyDir/copyFile"
It would be a nice addition to be able to pass custom options to copyDir, I'm copying a directory and I'd like to preserve or set the `ACL: "public-read"` attribute which currently isn't possible.

[2016-08-19 19:26] DavidTPate commented on #162
I thought it currently preserves the settings on the object already as under the hood we are just deferring the call to [s3.copyObject(...)](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#copyObject-property). You're correct in that we don't allow overriding the settings currently when executing `copyDir` or `copyFile`.

I'll need to do some more investigation and see how we would

[2016-08-19 19:26] KidkArolis commented on #162
Actually, while this could be useful (and I could try contributing this feature if you're interested), I think it won't solve my issue. I have a directory with multiple files, some are public some are private. When I copy this directory, I lose the ACL metadata (not sure about other metadata).

[2016-08-19 19:27] KidkArolis commented on #162
You're right about copyDir! That's exactly my problem..

[2016-08-19 19:30] KidkArolis commented on #162
I might be able to solve my specific issue by downloading the dir and reuploading it..

[2016-08-19 20:27] KidkArolis commented on #162
I've investigated this a bit further and the behaviour of `s3.copyObject` is quite strange.

1. `s3.copyObject` has an option `MetadataDirective: 'COPY | REPLACE'`.
2. By default it's 'COPY'.
3. `ACL` does not, however, get copied.
4. You have to explicitly pass in the new `ACL` when calling `s3.copyObject`.

So, basically, it might be useful to create the s3fs.copyFile(source, target, options, ca

[2016-08-19 21:08] KidkArolis commented on #162
I've used the #163 patch in my upstream project and it worked very well! I hope you'll consider merging it in.

[2016-08-23 02:14] celicoo opened #165 "Recursively clone a directory to local file system"
Is it possible to recursively clone a directory to local file system?

Thanks.

[2016-08-23 10:01] KidkArolis opened #166 "Shrinkwrap does not match package.json"
This causes dependent projects not able to use shrinkwrap

[2016-08-23 14:25] DavidTPate commented on #165
No, this isn't something that is currently implemented. Feel free to take a stab at it and submit a PR.

[2016-08-23 14:25] #165 closed

[2016-08-23 14:32] DavidTPate commented on #166
I haven't been able to reproduce this issue at all. Are you installing from `npm` or from another source? The latest version on `npm` is `2.4.8` which targets `aws-sdk@2.4.7` in both the `package.json` and `npm-shrinkwrap.json`.

[2016-08-23 15:06] DavidTPate commented on #166
I've released a new version `s3fs@2.5.0` which has an updated shrinkwrap and the new functionality you contributed.

[2016-09-01 02:10] celicoo opened #175 "Can't read large directory"
I'm trying to get the file list of a large directory, but nothing happens.. that's how i'm trying:

'```
use strict';
var chalk, S3FS, s3options;
chalk = require('chalk');
S3FS = require('s3fs');
s3options = require('../s3options');
module.exports = function(MAP){
  var fsImpl;
  fsImpl = new S3FS(MAP.bucket, s3options);
  fsImpl.readdirp('_input').then(function(files){
    console.log(files);
  }

[2016-09-01 02:32] celicoo commented on #175
The problem seems to come from the following code:

[code]

[2016-09-01 04:27] celicoo commented on #175
I found the problem, tomorrow morning I'll explain more about it.

Good night.

[2016-09-02 17:51] DavidTPate commented on #175
@celicoo Did you have some more details about this?

[2016-09-03 03:36] celicoo commented on #175
Sorry for the delay.

The problem is in two parts of the code.

1.
[code]

You should not remove the `prefix` of the files, since they are needed to define the `nextMarker` when a `delimiter` has not been set. I'll explain below.

2.
[code]

According to [IsTruncated documentation](http://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGET.html):

response as the marker in the subsequent request

[2016-09-14 07:38] stoplion opened #183 "How to retrieve image from s3?"
Trying to retrieve images from S3. The documentation is not clear how to do this.

[code]

Neither the error or success are run...

[SO Question](http://stackoverflow.com/questions/39484911/using-s3fs-node-module-how-can-i-retrieve-the-images-from-s3)

[2016-09-14 20:40] DavidTPate commented on #183
Please take a look at the [documentation](https://github.com/RiptideElements/s3fs#example-promise-usage) which has multiple examples of usage of the module.

In the case of what you are attempting to do you appear to be using an absolute URL to retrieve a file from this which won't work. Think of this like it is a replacement for [FS](https://nodejs.org/api/fs.html) and use it that same way.

[2016-09-14 20:40] #183 closed

[2016-09-15 22:29] stoplion commented on #183
Thanks. Lots on info on reading, but none on writing in that link above..

[2016-09-16 03:26] DavidTPate commented on #183
[Writing files](https://github.com/RiptideElements/s3fs#example-promise-usage)

[code]

As mentioned in the documentation there, enjoy!

[2016-09-22 18:11] paulxtiseo opened #187 "Using Pre-Signed URL"
Is it possible to use this library to upload a file to a pre-signed URL without setting keys and secrets? If so, how? (Even better if you teach me how to upload a large file also. :) ) My hanging point is that I don't want to give away the keys by doing a:
[code]

[2016-09-22 20:52] DavidTPate commented on #187
For pre-signed URLs this module won't work for that as a pre-signed URL would only give you access to a single thing.

I'm not sure what you mean by doing that would give away your keys. What happens is that the keys that you provide (or IAM role on your instance or [other configuration values](http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/node-configuring.html) that the AWS SDK supports) are

[2016-09-22 20:52] #187 closed

[2016-10-26 06:31] wanchunwing opened #202 "How to break into chunks and upload ?"
Thanks for help.

[2016-10-26 13:46] TylerDixon commented on #202
I think what you could use to solve your case is the `createWriteStream` functionality. Under the hood this uses multipart uploads, so you won't manually have to create the chunks. See [this](https://nodejs.org/api/fs.html#fs_fs_createwritestream_path_options) for `fs` documentation on the functionality, as the interface with this library is the same.

[2016-10-28 09:45] ddcovery opened #203 "Infinite loop deleting folder"
The result of listAllObjectsFiles, when truncated, doesn't include NextMarker in the result.
See this issue: https://github.com/aws/aws-sdk-js/issues/53

In this cases, rmdirp/destroy/copyDir/readdir performs an infinite loop (crashing my server memory :-/ )

For this cases, you must calculate nextMarker:

i.e.:
[code]

[2016-11-19 05:05] arturojain opened #205 "Is the event "finish" an standard event?"
In [s3WriteStream](https://github.com/RiptideElements/s3fs/blob/master/lib/s3WriteStream.js#L211) the emitted event is "finish" instead of "end". Is this an standard event or should it be "end" instead?

[2016-11-20 01:29] arturojain commented on #205
Reopened to add "close" as the event that could be emitted instead of "finish".

[2016-12-07 12:37] Ajaay opened #207 "Cannot set acl on file upload"
I need to be able to set the acl type against a file when uploaded like so:

s3fsImpl = new S3FS('test', {
		        accessKeyId: 'XXXXX',
		        secretAccessKey: 'XXXXXX',
		        region: 'us-west-1',
		        acl: 'public-read',
		    });

This is a supported option under the aws-sdk but doesn't appear to be working. I've tried acl capitalised as well but it doesn't appear to make a differ

[2016-12-07 13:26] TylerDixon commented on #207
I believe this is a similar issue to #154. See the comment [here](https://github.com/RiptideElements/s3fs/issues/154#issuecomment-238270303) for writing a file with a specified ACL.

[2016-12-08 12:33] Ajaay commented on #207
Yep that's fixed it! As with the other guy - sorry for not reading the documentation properly :)

Thanks!

[2016-12-08 12:33] #207 closed

[2016-12-19 15:19] DThink opened #208 "get file PATH after upload"
hi, there are a method to get the file URL after having upload it? i see that after the upload the write file function retrive only the `ETag` but i need to have a URL to store in the database. i can construct it by the `getPath() `method

[2016-12-26 18:17] demetriusnunes opened #209 "Set AWS-SDK as a peer dependency to make bundling s3fs smaller"
I'm using s3fs with AWS Lambda where the the aws-sdk is installed globally. I think a lot of people might have similar environments, since aws-sdk is so heavy, it's worth to install it globally.

That's why I think aws-sdk should be a peer dependency and not be included in s3fs itself.

[2017-01-09 15:59] bhaskaryasa commented on #25
@DavidTPate - I am also interested in this. Any plan for this?

[2017-01-19 11:09] techverx commented on #208
Hi @DThink , have you got the file path after upload file on s3. I am having the same issue that how I got public path after upload because I want to save that path in database.

Thanks :)

[2017-01-19 13:09] TylerDixon commented on #208
Correct, `getPath()` would be the proper method for retrieving the location of a file following upload, you would just have to pre-pend the returned string with `https://s3.amazonaws.com/`.

e.g
[code]

I'm going to close this, but feel free to let me know if this doesn't work for you and I can look into it more.

[2017-01-19 13:09] #208 closed

[2017-02-02 18:43] daniwaxman opened #210 "RequestTimeout on first attempt to upload"
I am receiving the following timeout the first upload attempt after my server starts. Subsequent upload attempts are OK. This is happening consistently after each server reset.

{
  "message": "Your socket connection to the server was not read from or written to within the timeout period. Idle connections will be closed.",
  "code": "RequestTimeout",
  "region": null,
  "time": "2017-02-02T18:40:2

[2017-03-16 05:06] bennettl opened #211 "Uploading File From Heroku Dyno /tmp folder to S3 Connection Issue"
Hello, I'm trying to upload an AWS S3 object (.mov file) from my dyno's /tmp folder for further application processing. I'm using the `writeFile` method of the S3FS object. I have the proper AWS credentials and updated my bucket's CORS configuration to allow GET/POST/PUT from any domain. But I'm getting the following error message:

[code]
The end goal is to download 2 video files from AWS S3, hav

[2017-03-16 08:18] #211 closed

[2017-03-20 15:55] parallaxisjones commented on #156
I'm running into this same problem... but I don't think that has anything to do with it.  The error is being thrown in the S3fs constructor @ line 43

 this.s3 = options instanceof AWS.S3 ? options : new AWS.S3(options);

It's AWS.S3 that is undefined, which is probably due to a AWS version conflict... the s3 client has been moved in the sdk, see the docs:

https://www.npmjs.com/package/aws-sdk

I

[2017-03-30 09:32] luke575 commented on #210
Hi daniwaxman,

Im having the same problem. Were you able to work this out?

Thanks

[2017-03-30 09:48] daniwaxman commented on #210
@luke575 - yes, I was able to solve by forcing the region to region: 'us-east-2'. You can set this in the s3fs options.

[2017-04-02 05:32] luke575 commented on #210
Thanks @daniwaxman !

Solved it for me

[2017-04-18 21:27] jacob-cross99 opened #213 "Delete all caches of a .jpg upon s3fs.writeFile"
I'm working on a way for my users to update their profile picture, and I over-write the image for the account but the old picture still shows up unless I'm in incognito mode (Chrome).

[2017-04-24 21:48] demetriusnunes opened #214 "readFile breaks when filename contains bucket name"
If the filename contains the bucket name (common example are s3 files generated from Kinesis Firehose streams), then readFile can't find the file due to this line:

https://github.com/RiptideElements/s3fs/blob/master/lib/utils.js#L103

Example:
[code]

[2017-06-08 15:35] akayami commented on #203
I've run into the same problem and the solution in this pull request works. Any chance we could have this fixed ?

[2017-07-17 11:25] kishor198821 opened #215 "How can i set everyone read permission for object?"
I'm able to upload an image in bucket. but when i'm reading it through URL it's showing access denied error. I have already passed 'public-read' permission while creating and uploading. Please help!

[2017-07-17 13:18] LoganArnett commented on #215
Are you setting the correct `Content-Type` on upload? S3 by default uses the `octet-stream` header I believe. That was one issue that I ran into:

### Example:
[code]

[2017-08-17 06:11] reeversedev opened #217 "MalformedXML: The XML you provided was not well-formed or did not validate against our publis hed schema"
I don't know what am i doing wrong here but this is the kind of error i am getting on uploading.
Below is my code for route.

**Index.js**
[code]

[2017-08-17 06:20] reeversedev commented on #217
@RiptideElements

[2017-08-24 08:32] marksman0011 commented on #214
Similar thing will happen when deleting a file with the same name as bucket's name.

[2017-08-26 20:38] abhishekp1996 commented on #210
@daniwaxman For me removing the region from the options worked very well. Don't know what was the issue before.

[2017-08-27 19:40] abhishekp1996 commented on #210
@daniwaxman Oops you were right. Earlier it worked well a few times, but then did not. I changed my region to 'ap-south-1' since I have server here in Asia-Pacific.
To others... facing this problem, as suggested by @daniwaxman add
`{
    ...
    region: ' xx-east/south/north/west-x ' //example us-east-2
}`
To get your region
1. See at top-right inside your bucket overview and note the region.
2. G

[2017-10-05 23:53] crccheck commented on #209
A technique I've seen and liked is to push the responsibility to the user. That way, you don't have to deal with any exotic AWS configuration.

I don't have more references but I know I copied this pattern to make https://github.com/crccheck/kinesis-streams

sample:
[code]

[2017-11-13 15:46] truongln88 opened #220 ""resolved" url in shrinkwrap"
I'm working in a company which has an internal nexus repository providing npm packages. All npm dependencies need to be downloaded from the nexus repository. The hard-coded "resolved" url makes it impossible to use "s3fs" because public npm repository is not available in our build environment.

Is it possible to remove the "resolved" url in shrinkwrap?